pandas~=1.2.3
bokeh~=2.2.3
Flask~=1.1.2
numpy~=1.20.1
Werkzeug~=1.0.1
lxml~=4.6.2
fasteners~=0.16
requests~=2.25.1
clevercsv~=0.6.7
python-dateutil~=2.8.1
Pygments~=2.8.1
matplotlib~=3.3.4

pytest~=6.2.2
selenium~=3.141.0
clipboard~=0.0.4
