pytest~=5.4.3
dex~=2020.4.12
pandas~=1.1.5
bokeh~=2.1.1
Flask~=1.1.2
numpy~=1.19.4
maya~=0.6.1
Werkzeug~=1.0.1
lxml~=4.5.1
fasteners~=0.15
requests~=2.25.1
clevercsv~=0.6.3
python-dateutil~=2.8.1
Pygments~=2.7.3
setuptools~=51.0.0
matplotlib~=3.3.3
scipy~=1.5.4
visions~=0.5.0
tqdm~=4.54.1
confuse~=1.4.0
joblib~=1.0.0
Jinja2~=2.11.2
ipywidgets~=7.5.1
ipython~=7.19.0
seaborn~=0.11.1
missingno~=0.4.2
