dex~=2020.4.12
pandas~=1.2.3
bokeh~=2.2.3
Flask~=1.1.2
numpy~=1.20.1
maya~=0.6.1
Werkzeug~=1.0.1
lxml~=4.6.2
fasteners~=0.15
requests~=2.25.1
clevercsv~=0.6.3
python-dateutil~=2.8.1
Pygments~=2.8.1
matplotlib~=3.3.3
scipy~=1.6.1
visions~=0.6.0
tqdm~=4.59.0
confuse~=1.4.0
joblib~=1.0.0
Jinja2~=2.11.2
ipywidgets~=7.6.3
ipython~=7.21.0
seaborn~=0.11.1
missingno~=0.4.2

attrs~=20.3.0
networkx~=2.5
ImageHash~=4.2.0
Pillow~=8.1.2
