{% extends 'base.html' %}

{% block head %}

  <script>
  const g = {
    rid: '{{ rid }}',
  };
  </script>

{% endblock %}

{% block body %}

  {#  <h2>Plot</h2>#}
  {##}
  {#  <div class='indent'>#}
  {##}
  {#    <ul>#}
  {#      <li>#}
  {#        Select the X and Y axis to plot.#}
  {#      </li>#}
  {#    </ul>#}
  {##}
  {#  </div>#}

  <h3>
    X/Y Plot
  </h3>

  <div class='instructions'>
    <ul>
      <li>
        Select the X and Y axis to plot.
      </li>
    </ul>
  </div>

  <div class='widgets'>
    <div class='cat-filter-block grid-2-col'>
      <div class='grid-item'>
        <label class='stack-item ' for='x-col'>X:</label>
      </div>
      <div class='grid-item'>
        <select id="x-col" name='x-col' class='form-control'>
          {% for col_str in cols %}
            <option value='{{ col_str.1 }}'>{{ col_str.0 }}</option>
          {% endfor %}
        </select>
      </div>
      <div class='grid-item'>
        <label class='stack-item ' for='y-col'>Y:</label>
      </div>
      <div class='grid-item'>
        <select id="y-col" name='y-col' class='form-control'>
          {% for col_str in cols %}
            <option value='{{ col_str.1 }}'>{{ col_str.0 }}</option>
          {% endfor %}
        </select>
      </div>

    </div>
    <div class='cat-filter-list stack'></div>
    <p></p>
  </div>

  <div class='space-top'>
    <button id='plot' class='btn btn-primary'>Plot</button>
  </div>

  <div>
    <button id='testy' class='btn btn-primary'>Test</button>
  </div>

{% endblock %}

{% block scripts %}
  <script src='/static/plot.js'></script>
  <script>
  $('#nav_plot').addClass('active')
  </script>

{% endblock %}
