{% extends 'base.html' %}

{% block head %}

  <script>
  const g = {
    rid: '{{ rid }}',
    entity_tup: JSON.parse('{{ entity_tup | tojson }}'),
    row_count: {{ row_count }},
    ref_col_list: JSON.parse('{{ ref_col_list | tojson }}'),
    datetime_col_list: JSON.parse('{{ datetime_col_list | tojson }}'),
    cat_col_map: new Map(JSON.parse('{{ cat_col_map | tojson }}')),
  };
  </script>

{% endblock %}

{% block body %}

  <h2>CSV file subset</h2>

  <h3>
    Filter by Time Period
  </h3>

  <div class='instructions'>
    <ul>
      <li>
        Select a column containing dates to apply this filter.
      </li>
    </ul>
  </div>

  <div class='widgets'>
    <div class='line'>
      <div class="line-item">
        <div class='line-inner'>
          <label>
            Column:
            <select class='dex-date-picker form-control' id='time-period-filter'
                    name='date-dropdown'>
              <option value='-1'>Filter not applied</option>
              {% for dt_col_dict in datetime_col_list %}
                {# value = index of the column in the CSV file #}
                {# text = name of the column from the CSV file #}
                <option
                    value='{{ dt_col_dict.col_idx }}'>{{ ref_col_list[dt_col_dict.col_idx] }}</option>
              {% endfor %}
            </select>
          </label>
        </div>
      </div>
      <div class="line-item">
        <div class='line-inner'>
          <label>
            Start:
            <input class='dex-date-picker form-control' id='time-period-start'
                   name='date-picker-start' placeholder='Start Date' type='text'>
          </label>
        </div>
      </div>
      <div class="line-item">
        <div class='line-inner'>
          <label>
            End:
            <input class='dex-date-picker form-control' id='time-period-end'
                   name='date-picker-end' placeholder='End Date' type='text'>
          </label>
        </div>
      </div>
    </div>
    <p id='time-period-filter-msg' class='result-msg'>
  </div>

  <h3>
    Filter by Columns
  </h3>

  <div class='instructions'>
    <ul>
      <li>
        Select one or more columns to apply this filter.
      </li>
    </ul>
  </div>

  <div class='widgets'>
    <label>
      Columns:
      <select id="col-filter" multiple='multiple' size='30' class='form-control'>
        {% for col_str in ref_col_list %}
          <option value='{{ loop.index0 }}'>{{ col_str }}</option>
        {% endfor %}
      </select>
    </label>
    <p id='col-filter-msg' class='result-msg'>
  </div>

  <h3>
    Filter by row index
  </h3>

  <div class='instructions'>
    <ul>
      <li>
        Type starting and ending row indexes to apply this filter.
      </li>
      <li>
        The row indexes can be found in the CSV Viewer above.
      </li>
    </ul>
  </div>

  <div class='widgets'>
    <div class='line'>
      <div class="line-item">
        <div class='line-inner'>
          <label>
            {#<label class='hidden'>#}
            First row:
            <input id='row-start' name='row-start' type='text'
                   class='dex-numeric form-control' placeholder="first row" value='1'>
          </label>
        </div>
      </div>
      <div class="line-item">
        <div class='line-inner'>
          <label>
            {#<label class='hidden'>#}
            Last row:
            <input id='row-end' name='row-end' type='text'
                   class='dex-numeric form-control' placeholder="last row"
                   value='{{ row_count }}'>
          </label>
        </div>
      </div>
    </div>
    <p id='row-filter-msg' class='result-msg'>
  </div>

  <h3>Filter by Pandas Query</h3>

  <div class='instructions'>
    <ul>
      <li>
        This view does not filter the CSV file, but can be helpful for finding values to
        use in the filter sections below.
      </li>
      <li>
        Use the Search field to limit the display to only rows that include the given
        text (case insensitive).
      </li>
    </ul>
  </div>

  <div class='widgets pq'>
    <div class='stack'>
      <div class='stack-item'>
        <label>
          {{ csv_html | safe }}
        </label>
      </div>
      <div class='stack-item'>
        <label>
        <textarea id='pq-text' name='pandas-query' cols="80" rows="3"
                  class='form-control' placeholder="Pandas Query"></textarea>
        </label>
      </div>
      <div class='stack-item'>
        <div class='line'>
          <div class="line-item ">
            <button id='pq-apply' class='btn btn-primary'>Apply</button>
          </div>
          <div class="line-item">
            <label for='pq-auto' class=''>Apply automatically</label>
            <input type='checkbox' id='pq-auto' name='pq-auto' class=''/>
          </div>
        </div>
      </div>
    </div>
    <div class='stack-item'>
      <p id="pq-result-msg" class='result-msg'>
    </div>
  </div>

  <h3>
    Filter by category
  </h3>

  <div class='instructions'>
    <ul>
      {% if cat_col_map != [] %}
        <li>Select a column containing categories and select one or more of the
          categories to apply this filter.
        </li>
        <li>To remove a column from the filter, set it back to 'Filter not applied', or
          remove the selected categories.
        </li>
        <li>Leaving a column unselected is equivalent to selecting it and all its
          categories
        </li>
      {% else %}
        <li>
          Filter unavailable: This CSV does not appear to contain any categorical data.
        </li>
      {% endif %}
    </ul>
  </div>

  <div class='widgets'>
    <div class='cat-filter-list stack'></div>
    <p id='category-description-msg' class='result-msg'>
  </div>

  {#<div class='instructions'></div>#}
  <div class='space-top'>
    <p>
    <div id='download-container'>
      <button id='download' class='btn btn-primary'>Download</button>
    </div>
    <p>
  </div>

  <template id='category-filter-template'>
    {#
    This is the only div that has the 'category-filter' class, which we use as a reference
    point in each column/category group. Since these elements get cloned, we use classes
    instead of IDs.
    #}
    <div class='cat-filter-block'>
      <label class='stack-item '>
        Column:
        <select class='cat-col form-control'>
          {#<option disabled selected value></option>#}
        </select>
      </label>
      <label class='stack-item '>
        Categories:
        <select class='cat-val form-control' multiple>
          {#<option disabled selected value></option>#}
        </select>
      </label>
    </div>
  </template>

{% endblock %}

{% block scripts %}
  <script src='/static/subset.js'></script>
{% endblock %}
