{% extends 'base.html' %}

{#{% block head %}#}
{#  <script>#}
{#const g = JSON/parse('{{ g_dict | safe | trim }}');#}
{#  </script>#}
{#{% endblock %}#}

{% block body %}

  <div class='root-page'>

    <h3>Welcome to the DeX test pages</h3>

    <div class='instructions'>
      <ul>
        <li>
          In most cases, DeX (this service) is used by opening a CSV file in the
          <a href='https://portal-d.edirepository.org/nis/home.jsp'>EDI Data Portal</a>
        </li>
      </ul>
    </div>

    <h3>Open CSV</h3>

    <div class='instructions'>
      <ul>
        <li>
          Open a CSV file if you already have its PASTA URL / identifier
        </li>
      </ul>
    </div>

    <div class='widgets'>
      <form action='/' method='post'>
        <div class='form-group required'>
          <label class="control-label" for='package_url'>Data Entity URL for a CSV
            file to open</label>
          <input class="form-control" id='package_url' name='package_url'
                 width='80'
                 placeholder='https://pasta-d.lternet.edu/package/data/eml/knb-lter-ble/9/1/0be92831cb9e173a828416a954778598'/>
        </div>
        <div class='form-group required'>
          <button class="btn btn-primary" type='submit'>Open</button>
        </div>
      </form>
    </div>


    <h3>Diagnostics and debugging</h3>

    <div class='instructions'>
      <ul>
        <li>
          {% if g.debug_panel %}
            Debug panel is enabled and will display after selecting a CSV
          {% else %}
            Debug panel is disabled
          {% endif %}
        </li>
      </ul>
    </div>

    <div class='widgets'>
      <form action='/' method='post'>
        <div class='form-group required'>
          {% if not g.debug_panel %}
            <a href="?debug=true">
              <button class="btn btn-primary" type='button'>Enable Debug Panel</button>
            </a>
          {% else %}
            <a href="?debug=false">
              <button class="btn btn-primary" type='button'>Disable Debug Panel</button>
            </a>
          {% endif %}

        </div>
      </form>
    </div>


    <h3>Open a sample CSV</h3>

    <div class='instructions'>
      <ul>
        <li>
          Open a randomly selected CSV document for testing or demonstration of DeX
        </li>
      </ul>
    </div>

    {#<div class='dex-space'>#}
    <div class='widgets'>
      <table class='sample-csv-list'>
        <th>Size (bytes)</th>
        <th>Scope</th>
        <th>Identity</th>
        <th>Version</th>
        <th>Entity</th>
        {% for csv_dict in csv_list %}
          <tr>
            <td class='right'>
              {{ '{:,}'.format(csv_dict.size) }}
            </td>
            <td>
              {{ csv_dict.entity.scope_str }}
            </td>
            <td>
              {{ csv_dict.entity.identifier_int }}
            </td>
            <td>
              {{ csv_dict.entity.version_int }}
            </td>
            <td class='mono'>
              <a href='/{{ csv_dict.entity.data_url|urlencode }}'>
                {{ csv_dict.entity.entity_str }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}

{% block scripts %}
{% endblock %}
