/*
This file is arranged with general styles (applying to many elements) closer to the top
and specific styles closer to the end.

CSS Selector: .ui-multiselect-checkboxes
CSS Path: html body div.container div.widgets label div.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all.ui-multiselect-listbox ul.ui-multiselect-checkboxes.ui-helper-reset
XPath: /html/body/div[1]/div[6]/label/div/ul
*/

/* #y-col, #x-col { */
/*    margin-top: 1rem; */
/*    margin-left: 1rem; */
/* } */

body {
    /* display: box-sizing; */

    --ind-level: 2.0rem;
    --ind-0: 0;
    --ind-1: var(--ind-level);
    --ind-2: calc(2 * var(--ind-level));

    /*font-size: normal;*/
    /*line-height: unset;*/

    /*     font-size: unset; */
/*     line-height: unset; */

    /*padding: 1rem 0;*/

    /* background-color: #ffffff; */

    /* These are in the reset now */
    /* padding: 0; */
    /* margin: 0; */

    /* cursor: default; */
}

.dex-container {
    margin: 0 2rem 0 2rem;
}


* {
}



/*
Vertical spacing for top-level blocks.
Remember: Vertical margins auto-collapse while padding does not.
*/
ul, .result-msg {
    margin: 1.5rem 0;
}


/* Headers */

h1, h2, h3, h4, h5 {
    white-space: nowrap;
}

h2 {
    margin: .2rem 0 var(--ind-1) 0;
}

h3 {
    margin: 5rem 0 1.5rem var(--ind-0);
}

h1 a, h2 a, h3 a {
    text-decoration: none;
}

/* list */

ul {
    padding-left: 0;
    list-style: circle inside none;
}

li {
}

/* table/ */

table {
    /* margin: 1em 1em 1em 1em; */
    /* border-collapse: collapse; */
    /* white-space: nowrap; */
    /* border: none; */
}

tr {
    /* border: none; */
    /* margin: 0em 0em 0em 0em; */
}


td {
    /* margin: 0em 0em 0em 0em; */
    /* padding: 0 1em 0 0; */
    /* border: none; */
}

th {
    /* font-weight: bold; */
    /* margin: 0em 0em 0em 0em; */
    /* padding: 0 1em 0 0; */
    /* text-align: left; */
    /* border: none; */
}

/* */

p {
    /* margin-top: 1rem; */
}

/* Stack of boxes, width of the contents of the widest box is applied to all the boxes
 */
.stack {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    grid-row-gap: .5rem;
}

/* Labels above boxes instead of to the left. */
.stack-item {
    display: flex;
    flex-direction: column;
    padding: .5rem 0 .5rem 0;
    margin: 0;
    /* padding: 0; */
    /* border: 1px; */
    grid-row-gap: .2rem;
}

label.stack-item {
/*     padding: .5rem 0 0 0; */
}

.data-url {
    /* width: 100rem; */
    /* padding: .3rem 0; */
}

.data-url input {
    /* width: 50rem; */
}

/* Spacing between the top and bottom of labels and prev/next select dropdowns. */
label select, label input {
}

.line {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    grid-column-gap: .5rem;
    /* padding: 0; */
    /* margin: 0; */

}

/* .line-item, dex-date-picker, .form-control, .select2-selection,.ui-multiselect-listbox, */
/* .select2-selection, */
/* .select2-search, */
/* .select2-container, */
/* .select2-hidden-accessible, */
/* .select2-search--inline, */
select
{
    min-width: 25rem;
}

.line-inner {
    width: 100%;
}
/* Labels above boxes instead of to the left. */
.line-inner > label {
    /* display: flex; */
    /* flex-direction: column; */
    /* grid-column-gap: 2.5rem; */
}

/* Time period filter */

.hasDatepicker, .dex-date-picker {
    /* min-width: 16em; */
    /* height: max-content; */
    /* margin: .3rem 0 .3rem 0; */
}


label.hidden {
    /* visibility: collapse; */
}

label.hidden * {
    /* visibility: visible; */
}


label {
    /* display: unset; */
    /* margin: unset; */
}

/* Syntax highlighted EML */

.eml-xml {
}

.eml-xml .highlight {
    width: max-content;
}

.highlight pre {
    font-size: 90%;
    /*padding: 2rem 0 2rem 0;*/
    margin-left: var(--ind-1);
}

/* Remove the arrow down icon from select dropdown boxes */
select {
    appearance: none;
}

/* Section containing instructions, widgets and dynamically generated text.
 */

div.instructions {
    margin: .5rem 0 0 var(--ind-1);
}

div.widgets {
    /* border: blue 2px solid; */
    margin: 1.5rem 0 0 var(--ind-2);
}

p.result-msg::before {
    content: "\27a4";
    margin-right: 1rem;
    /*padding-right: 1rem;*/
}

p.result-msg {
    /*padding: 1rem 0;*/
}

div.margin {
    margin: 1.5rem 0 0 0;
}

/* Misc */

.disabled {
    pointer-events: none;
    opacity: 0.4;
    /* visibility: collapse; */
}

.dex-numeric {
    /* width: 8em; */
}

pre, table, input[type="text"],
.ui-widget, .hasDatepicker, .select2-selection, select {
}

.form-control {
    margin: 0rem 10rem 0 0;
}

/* List of CSV test files */
.index-csv-list {
    /* display: grid; */
    /* grid-template-columns: repeat(4, max-content); */
    /* grid-column-gap: 2em; */
}

/* Data  header */

h2.data-entity {
    /* padding: 1rem 0 1rem 0; */
    /* margin: 0; */
}

/* .data-entity-grid { */
/* display: grid; */
/* grid-template-columns: max-content auto; */
/* margin: 0 0 2rem var(--ind-1); */
/* grid-column-gap: 2rem; */
/* } */

/* .data-entity-grid .label, .data-entity-grid .value { */
/* font-size: 1.1rem; */
/* } */

/* .data-entity-grid .label { */
/* font-weight: 300; */
/* text-align: right; */
/* } */

/* .data-entity-grid .value { */
/* font-weight: 900; */
/* } */

.line .label {
    /*padding-left: 0;*/
    font-size: 120%;
    font-weight: 300;
}

.line .value {
    font-size: 120%;
    font-weight: 600;
}

/* Buttons */

#download, #plot {
    font-size: 2.5rem;
    margin: 1.5rem 0 3rem 0;

    /* border-width: .2rem; */
    /* border-style: solid; */
    /* border-color: #a0a0a0; */
    /* border-radius: 1rem; */
}

/* DataTable */

span.select-item {
    /* padding: 1em; */
}

/* DataTables header */
.dataTables_wrapper {
    /* border blue 2px solid; */
    /* margin-left: var(--ind-2); */
}

/* DataTables rows */
table.dataTable tbody th, table.dataTable tbody td {
    padding: .3rem 0 .3rem 2rem;
    white-space: nowrap;
}
.datatable td:empty {
    background-color: #e0e0e0;
}
.datatable td:empty:before {
    top: 0;
    left: 0;
    font-size: 50%;
    color: gray;
    content: "(no value)";
}

/* first column */
table.datatable td:first-child {
    font-weight: bolder;
}

/* Filter by Columns */

.ui-multiselect-header {
}

/* Checkbox spacing in column selection */
input[type="checkbox"] {
    margin: 0 .5rem 0 .5rem;
}

.ui-corner-all {
    margin: 0;

}

#columns-table {
    /* width: min-content; */
}

/* Remove empty toolbars */
#columns-table > thead, #columns-table_wrapper .fg-toolbar {
/*     visibility: collapse; */

}

.select2-results__option {
	padding-top: 0;
    padding-bottom: 0;
}

/* Profiling page */

#counter-msg, #generate-msg, #spinner-msg {
    /* font-size: 1.3em; */
    /* padding-top: 2rem; */
    /* text-align: center; */
}

iframe {
    width: 100%;
    min-width: 100%;
    height: 1500em;
    border: 0;
}
